<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a
      class="navbar-brand"
      routerLinkActive="active"
      [routerLink]="['/dashboard/home']"
      ><b>ILP Task Manager</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <!-- Home -->
        <li class="nav-item">
          <a
            style="cursor: pointer"
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/dashboard/home']"
          >
            <b>Home</b>
            <i style="margin-left: 5px" class="fa fa-house"></i>
          </a>
        </li>
        <!-- My assigned tasks -->
        <li class="nav-item">
          <a
            style="cursor: pointer"
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/dashboard/my-tasks']"
          >
            <b>My Tasks</b>
            <i style="margin-left: 5px" class="fa fa-check-circle"></i>
          </a>
        </li>
        <!-- My projects -->
        <li class="nav-item">
          <a
            style="cursor: pointer"
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/dashboard/my-projects']"
          >
            <b>Assigned Projects</b>
            <i style="margin-left: 5px" class="fa fa-clipboard"></i>
          </a>
        </li>
        <!-- My profile -->
        <li class="nav-item">
          <a
            style="cursor: pointer"
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/dashboard/my-profile']"
          >
            <b> My profile</b>
            <i style="margin-left: 5px" class="fa fa-user"></i>
          </a>
        </li>
      </ul>
      <!-- Logout button -->
      <button
        class="btn btn-secondary my-2 my-sm-0"
        type="button"
        (click)="logOut()"
      >
        Logout
        <i style="margin-left: 5px" class="fa fa-power-off"></i>
      </button>
    </div>
  </div>
</nav>
