<main class="jumbotron" role="main">
  <section>
    <div class="container">
      <div class="row gutters">
        <!-- card user photo -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-header text-center"><h5>About me</h5></div>
            <div class="card-body">
              <div class="account-settings">
                <div class="user-profile">
                  <div class="user-avatar">
                    <img src="assets/user.png" alt="{{ user?.name }}" />
                  </div>
                  <h5 class="user-name">{{ user?.name }}</h5>
                  <h6 class="user-email">{{ user?.email }}</h6>
                </div>
                <div class="about">
                  <div class="btn-group">
                    <button
                      class="btn btn-secondary"
                      (click)="enableEdit()"
                      [disabled]="isEditing"
                    >
                      Edit Profile
                      <i style="margin-left: 6px" class="fa fa-edit"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card user data -->
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-header text-center"><h5>Personal data</h5></div>
            <div class="card-body">
              <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2"><b>Personal Details</b></h6>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="fullName">Full Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="fullName"
                        formControlName="name"
                        placeholder="Enter full name"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="eMail">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="eMail"
                        formControlName="email"
                        placeholder="Enter email ID"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input
                        type="text"
                        class="form-control"
                        id="phone"
                        formControlName="cellphone"
                        placeholder="Enter phone number"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <!-- Website field removed -->
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="won">WON</label>
                      <input
                        type="text"
                        class="form-control"
                        id="won"
                        formControlName="won"
                        placeholder="Enter WON identifier"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="employeeNumber">Employee Number</label>
                      <input
                        type="text"
                        class="form-control"
                        id="employeeNumber"
                        formControlName="employeeNumber"
                        placeholder="Enter employee number"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          *ngIf="isEditing"
                          (click)="cancelEdit()"
                        >
                          Cancel
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          *ngIf="isEditing"
                          [disabled]="profileForm.invalid || loading"
                        >
                          Update
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
