<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign user task</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addFormulario" (ngSubmit)="assignUser()">
      <!-- task -->
      <div class="form-group">
        <div class="form-group">
          <label for="name"><b>Select the task</b></label>
          <select class="form-control" formControlName="task">
            <option disabled value="-17">Select the origin task</option>
            <div *ngFor="let task of tasks">
              <option value="{{ task.id }}">{{ task.name }}</option>
            </div>
          </select>
        </div>
      </div>
      <br />
      <!-- user -->
      <div class="form-group">
        <div class="form-group">
          <label for="name"><b>User to assign</b></label>
          <select class="form-control" formControlName="user">
            <option disabled value="-17">Select the user to assign</option>
            <div *ngFor="let user of users">
              <option value="{{ user.id }}">{{ user.name }}</option>
            </div>
          </select>
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-warning">
        Set assignation
        <i class="fa fa-check" style="margin-left: 4px"></i>
      </button>
    </form>
  </div>
</ng-template>

<button type="button" class="btn btn-warning" (click)="open(content)">
  Assign Task <i style="margin-left: 2px" class="fa fa-link"></i>
</button>
