<!-- Button trigger -->
<a
  class="btn btn-secondary"
  data-bs-toggle="offcanvas"
  href="#offcanvasExample{{ userTaskAssignation.task.id }}"
  role="button"
  aria-controls="offcanvasExample"
>
  View
  <i style="margin-left: 5px" class="fa fa-eye"></i>
</a>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample{{ userTaskAssignation.task.id }}"
  aria-labelledby="offcanvasExampleLabel"
>
  <!-- canvas header -->
  <div class="offcanvas-header">
    <h3
      class="offcanvas-title"
      id="offcanvasExampleLabel{{ userTaskAssignation.task.id }}"
    >
      {{ userTaskAssignation.task.name }}
    </h3>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <!-- canvas body -->
  <div class="offcanvas-body" style="text-align: left">
    <p><b>Start Date:</b> {{ userTaskAssignation.task.startDate }}</p>
    <p><b>Due Date:</b> {{ userTaskAssignation.task.dueDate }}</p>
    <p><b>Created At:</b> {{ userTaskAssignation.task.createdAt }}</p>
    <br />
    <h5>Task description:</h5>
    <div>{{ userTaskAssignation.task.description }}</div>
    <br />
    <h5>Actions:</h5>
    <div class="d-flex align-items-center gap-2 mb-2">
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#subtasksTable' + userTaskAssignation.task.id"
        aria-expanded="false"
        [attr.aria-controls]="'subtasksTable' + userTaskAssignation.task.id"
      >
        View subtasks <i class="fa fa-list"></i>
      </button>
      <button
        class="btn btn-success"
        (click)="markAsDone()"
        [disabled]="userSubtasks.length > 0 && !allSubtasksCompleted()"
      >
        Mark as Done! <i class="fa fa-check"></i>
      </button>
    </div>
    <div class="collapse" [id]="'subtasksTable' + userTaskAssignation.task.id">
      <div *ngIf="loadingSubtasks">Loading subtasks...</div>
      <table
        *ngIf="!loadingSubtasks && userSubtasks.length > 0"
        class="table table-hover bordered border-light"
      >
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Due Date</th>
            <th scope="col" class="text-center">Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sub of userSubtasks">
            <td>
              {{
                (subtaskDetails[sub.subtaskId] &&
                  subtaskDetails[sub.subtaskId].name) ||
                  "-"
              }}
            </td>
            <td>
              {{
                (subtaskDetails[sub.subtaskId] &&
                  subtaskDetails[sub.subtaskId].priority) ||
                  "-"
              }}
            </td>
            <td>
              {{
                (subtaskDetails[sub.subtaskId] &&
                  subtaskDetails[sub.subtaskId].dueDate) ||
                  "-"
              }}
            </td>
            <td class="text-center">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="sub.completed"
                  (change)="onSubtaskCheckChange(sub, getChecked($event))"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="!loadingSubtasks && userSubtasks.length === 0"
        class="text-muted"
      >
        No subtasks assigned.
      </div>
    </div>
    <!-- Botón Mark as Done movido arriba para alineación -->
  </div>
</div>
