<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>
          <div
            class="avatar bg-primary text-white rounded-circle d-flex align-items-center justify-content-center"
            style="width: 32px; height: 32px; font-size: 14px"
          >
            {{ getUserInitial(member) }}
          </div>
        </td>
        <td>{{ member.name }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="removeMember(member)">
            <i class="fa fa-trash"></i> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
