<main class="jumbotron" role="main">
  <!-- Info section -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Bucket Badges</h1>
      <p class="lead text-muted">
        Here you can manage all the available badges for all the kanban boards.
      </p>
    </div>
  </section>
  <br />
  <section class="container">
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-header text-center"><h5>Badges list</h5></div>
        <div class="card-body">
          <!-- Search bar -->
          <div class="row mb-3">
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                [(ngModel)]="searchTerm"
                (ngModelChange)="filterData()"
              />
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover bordered border-light">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Result</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let badge of paginator.pagedItems">
                  <td>{{ badge.id }}</td>
                  <td>
                    <span class="badge bg-{{ badge.color }}">{{
                      badge.text
                    }}</span>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger"
                      (click)="confirmDelete(badge.id, badge.text)"
                    >
                      Delete
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Paginador Bootstrap -->
        <div class="d-flex justify-content-end mt-3">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Page group">
              <button
                *ngFor="let page of [].constructor(paginator.totalPages); let i = index"
                type="button"
                class="btn btn-secondary"
                [class.active]="paginator.currentPage === i + 1"
                (click)="onPageChange(i + 1)"
              >
                {{ i + 1 }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <app-add-badge-modal></app-add-badge-modal>
        </div>
      </div>
    </div>
  </section>
</main>
